@use 'src/styles/vars';

.allProjects {
  display: flex;
  color: white;
  // height:100vw;
  font-family: 'bahnschrift';
  letter-spacing: 0.1em;
  font-size: 1.5em;
  @media screen and (max-width:700px) {
    width: 100%;
    max-height: 100%;
  }
  &__listLeft {
    display: flex;
    align-items: center;
    height: 100vh;
    width: auto;
    line-height : 1.2em;
    border-right: 2px solid vars.$secondary-color;
    @media screen and (max-width:700px) {
      border-right: none;
      width: 100%;
      height: 100%;
    }
  }
  &__photoProject {
    z-index: -1;
    position: relative;
    height: 100vh;
    width: 100vw;
    @media screen and (max-width:700px) {
      display: none;
    }
  }
}

@keyframes transitionImage {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.item {
  position: absolute;
  z-index: -1;
  background-position: center;
  background-size: cover ;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  opacity: 1;
  animation: transitionImage 1s;
}

.project {
  display: flex;
  flex-direction: column;  
  padding: 2em;
  height: 50%;
  @media screen and (max-width:700px) {
    align-items: center;
    justify-content: flex-start;
  }
  &__allTitles {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
    width: 225px;
    @media screen and (max-width:700px) {
      margin-top: 3em;
    }
  }
}

#titleDesign {
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  color:white;
  font-family: 'bahnschrift';
  letter-spacing: 0.1em;
  font-size: 1em;
  &:hover {
    color: vars.$secondary-color;
    transition: 500ms;
    border-bottom: 1px solid vars.$secondary-color;
  }
}

#titleWeb {
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  color:white;
  font-family: 'bahnschrift';
  letter-spacing: 0.1em;
  font-size: 1em;
  &:hover {
    color: vars.$secondary-color;
    transition: 500ms;
    border-bottom: 1px solid vars.$secondary-color;
  }
}

.projects {
  display: flex;
  flex-direction: column;  
  justify-content: center;
  margin-bottom: 1em;
  width: 20vw;
  @media screen and (max-width:700px) {
    width: auto;
  }
  &__titleProjects {
    display: inline;
    pointer-events: auto;
    width: 100%;
    cursor: pointer;
    @media screen and (max-width:700px) {
      text-align: center;
    }
    &:hover {
      color: vars.$secondary-color;
      transition: 500ms;
    }
    &__name {
      width: 100%;
    }
  }
}

.forMobile {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 0.75em;
  letter-spacing: 0.05em;
  width: auto;
  @media screen and (min-width:700px) {
    display: none;
  }
}

.infoProject {
  font-size: 0.6em;
  margin-bottom: 1em;
}

.pictureProject {
  width: 100%;
  @media screen and (min-width:700px) {
    display: none;
  }
}
