@use 'reset';
@use 'vars';

// html {
//   overflow-x: hidden;
// }
body {
  font-family: 'bahnschrift';  
  background: linear-gradient(-45deg, vars.$main-dark-color 0%, #020407 50%, vars.$main-dark-color 100%) no-repeat;
  height: 100%;
}

/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }
  body {
    font-family: 'Roboto', sans-serif;
  }
*/
