@use 'reset';
@use 'vars';

@font-face {
  font-family: "bahnschrift";
  src:  url('../assets/fonts/bahnschrift.ttf');
}

body {
  font-family: 'bahnschrift';  
  background: linear-gradient(-45deg, vars.$main-dark-color 0%, #020407 50%, vars.$main-dark-color 100%) no-repeat;
  overflow: auto;
}

