@use 'src/styles/vars';

.app {
    display: flex;
    flex-direction: column;
  &__logo {
    position: absolute;
    height: 100vh;
    z-index: 2;
    &__MC {
      position: absolute;
      position: fixed;
      top: 2em;
      left: 2em;
      width: 4em;
      z-index: 2;
      cursor: pointer;
      @media screen and (max-width:700px) {
        width: 2.2em;
      }
    }
    &__addLink {
      position: absolute;
      position: fixed;
      left: 2em;
      bottom: 2em;
      width: 2em;
      background-color: transparent;
      border: none;
      transition: 250ms;
      z-index: 2;
      padding: 0;
      &.active {
        transform: translateY(0px) rotate(45deg);
      }
      &.active:hover {
        transform: translateY(0px) rotate(45deg);
      }
    }
    &__addLink:hover {
      transform: scale(1.3);
      transition: 500ms;
    }
    &__all {
      position: absolute;
      position: fixed;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      left: 2em;
      bottom: 4em;
      height: 150px;
      &__gitHub {
        cursor: pointer;
        width: 1.8em;
        transition: 300ms;
        animation: transition 1.0s ease-in-out 2.0s, opacity 1.0s ease-in-out 2.0s;
        &:hover {
          transform: scale(1.3);
          transition: 500ms;
        }
      }
      &__linkedin {
        cursor: pointer;
        width: 1.5em;
        transition: 300ms;
        animation: transition 1.0s ease-in-out 2.0s, opacity 1.0s ease-in-out 2.0s;
        &:hover {
          transform: scale(1.3);
          transition: 500ms;
        }
      }
      &__cv {
        cursor: pointer;
        width: 1.5em;
        transition: 300ms;
        animation: transition 1.0s ease-in-out 2.0s, opacity 1.0s ease-in-out 2.0s;
        &:hover {
          transform: scale(1.3);
        }
      }
    } 
  }
}

.arrow {
  padding: 0;
  display: absolute;
  position: fixed;
  right: 2em;
  bottom: 2em;
  width: 2em;
  background-color: transparent;
  border: none;
  transition: 250ms;
  z-index: 4;
  &:hover {
    transform: scale(1.3);
    transition: 500ms;
  }
}

