@use 'src/styles/vars';

@mixin backlight($x, $y, $spread, $size, $colorA, $colorB, $duration) {
  &:after {
    position: absolute;
    content: "";
    top: $y;
    left: $x;
    right: 0;
    z-index: -2;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale($size);
    -webkit-filter: blur($spread);
    -moz-filter: blur($spread);
    -ms-filter: blur($spread);
    filter: blur($spread);
    background: linear-gradient(145deg, $colorA, $colorB);
    background-size: 200% 200%;
    animation: animateGlow $duration ease infinite;
    
    @keyframes animateGlow {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
    }
  }
}

h1 {
  text-transform: uppercase;
}


.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color:white;
  height: 100vh;
}

.bio {
  width: 1000px;
  background-color: vars.$main-dark-color;
  padding: 3em 4em;
  // border-radius: 15px 0 0 15px;
  border-left: 2px solid vars.$secondary-color;
  @include backlight(4vw, 1vw, 6vw, 0.65, vars.$secondary-color, #5846f6, 7s);
  &__title {
    font-size: 1.5rem;
    color: vars.$secondary-color;
    margin-bottom: 1em;
  }
  &__text {
    margin-bottom: 1em;
    line-height: 1.4em;
    &__technos {
      color: vars.$secondary-color;
      margin-bottom: 1em;
    }
  }
}

.cpt {
  background-color: vars.$main-dark-color;
  width: 1000px;
  padding: 3em 4em;
  border-left: 2px solid vars.$secondary-color;
  @include backlight(-4vw, 1vw, 6vw, 0.65, #5846f6, vars.$secondary-color,  4s);
}
.allSkills {
  display: flex;
  width: 100%;
  &__design{
    width: 450px;
    padding-right: 1em;
    line-height: 1.4em;
    &__firstTitle{
      letter-spacing: 0.1rem;
      font-size: 1.5rem;
      color: vars.$secondary-color;
      margin-bottom: 1em;
      padding-bottom: 0.3em;
    }
    &__secondTitle{
      color: vars.$secondary-color;
      margin: 1em 0 0.4em 0;
    }
  }
  &__web{
    display: flex;
    flex-direction: column;
    line-height: 1.4em;
    padding-left: 1em;
    &__thirdTitle{
      color: vars.$secondary-color;
      margin: 0 0 0.4em 0;
    }
  }
}
