@use 'src/styles/vars';

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  height: 100vh;
  width: 100%;
  @media screen and (max-width:800px) {
    flex-direction: column;
  }
  &__about {
    color:white;
    font-size: 1.5em;
    line-height : 1.2em;
    @media screen and (max-width:800px) {
      margin-top: 1.5em;    
      text-align: center;
      width: 90vw;
    }
  }
}

@mixin backlight($x, $y, $spread, $size, $colorA, $colorB, $duration) {
  &:after {
    position: absolute;
    content: "";
    top: $y;
    left: $x;
    right: 0;
    z-index: -1;
    height: 90%;
    width: 90%;
    margin: 0 auto;
    transform: scale($size);
    -webkit-filter: blur($spread);
    -moz-filter: blur($spread);
    -ms-filter: blur($spread);
    filter: blur($spread);
    background: linear-gradient(270deg, $colorA, $colorB);
    background-size: 200% 200%;
    animation: animateGlow $duration ease infinite;
    @keyframes animateGlow {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
    }
  }
}

.leftSide {
  display: flex;
  justify-content: center;  
  align-items: flex-end;
  @media screen and (min-width:800px) { 
    margin-right: 3em;
  }
}
.cercle {
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: vars.$main-dark-color;
  border-radius: 50%;
  @include backlight(0vw, 5vw, 5vw, 0.70, vars.$secondary-color, #5846f6, 7s);
  @media screen and (max-width:800px) {
    width: 200px;
    height: 200px;   
  }
  @media screen and (max-width:400px) {
    width: 100px;
    height: 100px;   
  }
}

.profile {
  width: 300px;
  border-radius: 0 0 400px 400px;
  z-index: 2;
  @media screen and (max-width:800px) {
    width: 200px;   
  }
  @media screen and (max-width:400px) {
    width: 100px;   
  }
}
