@use 'src/styles/vars';

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;
  color: white;
  font-size: 0.7em;
  &__mentions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__oneInfo {
      line-height: 1.5em;
    }
    &__left {
      text-align: right;
      border-right: 1px solid vars.$secondary-color;
      padding: 0 1em 0 1em;
    }
    &__right {
      padding: 0 1em 0 1em;
    }
  }

}
